<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="monitorApp" ng-controller="rootCtrl">
{{a}}
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->


<div class="container" id="main">
    <div class="jumbotron">
        <img src="" width="320" height="240">
    </div>

    <div class="row marketing">
        <p>状态：<span style="color: red">{{suggestion}}</span></p>
        <button class="btn btn-primary fRight" ng-disabled="!deB">连接</button>
        <div class="dropup fRight">
            <button class="btn btn-default dropdown-toggle" type="button" id="deviceNum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB">
                设备号
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="deviceNum">
                <li ng-repeat="i in data.deviceList">
                    <a>{{i}}</a>
                </li>
            </ul>
            {{data.device}}
        </div>
        <button class="btn btn-primary fRight" ng-click="get.deviceList()">获取设备</button>

        <p>
            <button type="button" class="btn btn-success" ng-disabled="!deB&&!linkB">开始</button>
        </p>



        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="xrandr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB&&!linkB">
                分辨率
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="xrandr">
                <li><a href="javascript:void(0)" ng-click="set('xrandx','176x144')">176x144</a></li>
                <li><a href="javascript:void(0)" ng-click="set('xrandx','320x240')">320x240</a></li>
                <li><a href="javascript:void(0)" ng-click="set('xrandx','352x288')">352x288</a></li>
                <li><a href="javascript:void(0)" ng-click="set('xrandx','640x480')">640x480</a></li>
                <li><a href="javascript:void(0)" ng-click="set('xrandx','800x600')">800x600</a></li>
                <li><a href="javascript:void(0)" ng-click="set('xrandx','1024x768')">1024x768</a></li>
            </ul>
            {{data.settings.xrandr}}
        </div>

        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB&&!linkB">
                白平衡
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="white">
                <li><a href="javascript:void(0)" ng-click="set('white','auto')">auto</a></li>
                <li><a href="javascript:void(0)" ng-click="set('white','home')">home</a></li>
                <li><a href="javascript:void(0)" ng-click="set('white','sunny')">sunny</a></li>
                <li><a href="javascript:void(0)" ng-click="set('white','cloudy')">cloudy</a></li>
                <li><a href="javascript:void(0)" ng-click="set('white','office')">office</a></li>
            </ul>
            {{data.settings.white}}
        </div>

        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="effects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB&&!linkB">
                特殊
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="effects">
                <li><a href="javascript:void(0)" ng-click="set('effects','normal')">正常</a></li>
                <li><a href="javascript:void(0)" ng-click="set('effects','blackwhite')">黑白</a></li>
                <li><a href="javascript:void(0)" ng-click="set('effects','blue')">偏蓝</a></li>
                <li><a href="javascript:void(0)" ng-click="set('effects','green')">偏绿</a></li>
                <li><a href="javascript:void(0)" ng-click="set('effects','red')">偏红</a></li>
                <li><a href="javascript:void(0)" ng-click="set('effects','antique')">复古</a></li>
                <li><a href="javascript:void(0)" ng-click="set('effects','negative')">反色</a></li>
                <li><a href="javascript:void(0)" ng-click="set('effects','bwnegative')">黑白反色</a></li>
            </ul>
            {{data.effectsMapping[data.settings.effects]}}
        </div>

        <div class="dropup">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="explosure" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB&&!linkB">
                    曝光
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="explosure">
                    <li><a href="javascript:void(0)" ng-click="set('explosure',0)">0</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('explosure',1)">1</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('explosure',2)">2</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('explosure',3)">3</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('explosure',4)">4</a></li>
                </ul>
                {{data.settings.explosure}}
            </div>
        </div>

        <div class="dropup">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="lightness" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB&&!linkB">
                    亮度
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="lightness">
                    <li><a href="javascript:void(0)" ng-click="set('lightness',0)">0</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('lightness',1)">1</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('lightness',2)">2</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('lightness',3)">3</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('lightness',4)">4</a></li>
                </ul>
                {{data.settings.lightness}}
            </div>
        </div>

        <div class="dropup">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="contrast" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB&&!linkB">
                    对比度
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="contrast">
                    <li><a href="javascript:void(0)" ng-click="set('contrast',0)">0</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('contrast',1)">1</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('contrast',2)">2</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('contrast',3)">3</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('contrast',4)">4</a></li>
                </ul>
                {{data.settings.contrast}}
            </div>
        </div>

        <div class="dropup">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="saturation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!deB&&!linkB">
                    饱和度
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="saturation">
                    <li><a href="javascript:void(0)" ng-click="set('saturation',0)">0</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('saturation',1)">1</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('saturation',2)">2</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('saturation',3)">3</a></li>
                    <li><a href="javascript:void(0)" ng-click="set('saturation',4)">4</a></li>
                </ul>
                {{data.settings.saturation}}
            </div>
        </div>

        <div id="LED">
            <p>
                <span>LED</span>
                <button type="button" class="btn btn-{{data.settings.LEDSwitch?'success':'danger'}}" ng-disabled="!deB&&!linkB">{{data.settings.LEDSwitch?'开启中':'关闭中'}}</button>
            </p>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-{{data.LEDArr[0].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">0</button>
                <button type="button" class="btn btn-{{data.LEDArr[1].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">1</button>
                <button type="button" class="btn btn-{{data.LEDArr[2].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">2</button>
                <button type="button" class="btn btn-{{data.LEDArr[3].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">3</button>
                <button type="button" class="btn btn-{{data.LEDArr[4].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">4</button>
                <button type="button" class="btn btn-{{data.LEDArr[5].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">5</button>
                <button type="button" class="btn btn-{{data.LEDarr[6].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">6</button>
                <button type="button" class="btn btn-{{data.LEDarr[7].status?'warning':'default'}}" ng-disabled="!data.settings.LEDSwitch&&!deB&&!linkB">7</button>
            </div>
        </div>
    </div>

    <!--
    <div class="footer">
        <div class="container">
            <p><span class="glyphicon glyphicon-heart"></span> from Unique Studio</p>
        </div>
    </div>
    -->

</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
                (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
            r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/restangular/dist/restangular.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/ctrl.js"></script>
<!-- endbuild -->
<!--
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    -->
</body>
</html>
